*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #89cb24;
}
.game-wrapper{
    margin-top: 8px;
    padding: 10px;
    background-color: #063b0a;
}
h1{
    margin-bottom: 8px;
    color: #dfd3d3;
    text-decoration: underline greenyellow;
}
div#board{
    cursor: pointer;
    height: 510px;
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    margin-top: 33px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 21px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #161515;
    font-weight: bold;
    background-color: #df251a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #817f75;
}
.btn:hover{
    color: rgb(209, 218, 42);
    background-color: red;
    font-weight: 550;
    transition: 1.5s;
    transform: scale(1.05);
}
.box{
    height: 80px;
    width: 90px;
    margin-left: 8px;
    background-color: yellowgreen;
    font-size: 60px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transparent{
    color: transparent;
}
.openBox{
    background-color: white;
    color: white;
}
.matchedBox{
    background-color: white;
    color: white;
}
